<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="student" class="com.spring.di.setter.Student">
        	<property name="studentName" value="Yaduveer"/>
        	<property name="age" value="6"/>
        	<property name="subjectStream" value="Pass"/>
        </bean>
</beans>        